//colors
$color-primary:#B24912;
$color-primary-dark-1:#78310C;
$color-primary-dark-2: #5E2709;
$color-primary-light-1: #FF5700;
$color-primary-light-2: #FF8133;
$color-secondary: #3D9C2F;
$color-secondary-dark-1:#23591B;
$color-secondary-dark-2: #173B12;
$color-secondary-light-1: #4FC93C;
$color-secondary-light-2: #60F549;
$color-tertiary: #271BB2;
$color-tertiary-light: #2314CC;
$color-grey-light-1: #faf9f9;
$color-grey-light-2: #f4f2f2;
$color-grey-light-3: #f0eeee;
$color-grey-light-4: #ccc;
$color-grey-dark-1: #333;
$color-grey-dark-2: #777;
$color-grey-dark-3: #999;
$color-black: #000;
$color-white: #fff;
//media
$bp-largest: 75em; //1200px
$bp-large: 68.75em; //1100px
$bp-medium: 56.25em; //900px
$bp-small: 37.5em; //600px
$bp-xtrasm: 31.25em; // 500px

$default-font-size: 1.6rem;